<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belajar CSS Layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="container">
        <section id="s1">
            <article>
                <h1>Ini Judul 1</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius similique perferendis debitis, adipisci error ad vel. Sint labore rem ad obcaecati, natus corporis qui ullam quos iure facere amet odit!</p>
            </article>
            <article>
                <h1>Ini Judul 2</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius similique perferendis debitis, adipisci error ad vel. Sint labore rem ad obcaecati, natus corporis qui ullam quos iure facere amet odit!</p>
            </article>
            <article>
                <h1>Ini Judul 3</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius similique perferendis debitis, adipisci error ad vel. Sint labore rem ad obcaecati, natus corporis qui ullam quos iure facere amet odit!</p>
            </article>
        </section>
        <section id="s2">
            <article>
                <h1>Ini Judul 1</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius similique perferendis debitis, adipisci error ad vel. Sint labore rem ad obcaecati, natus corporis qui ullam quos iure facere amet odit!</p>
            </article>
            <article>
                <h1>Ini Judul 2</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius similique perferendis debitis, adipisci error ad vel. Sint labore rem ad obcaecati, natus corporis qui ullam quos iure facere amet odit!</p>
            </article>
            <article>
                <h1>Ini Judul 3</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius similique perferendis debitis, adipisci error ad vel. Sint labore rem ad obcaecati, natus corporis qui ullam quos iure facere amet odit!</p>
            </article>
        </section>
    </div>
</body>
</html>