section {
  display: flex;
 flex-direction: row;
  margin-bottom: 2px;
  background-color: red;
}
#container {
  display: flex;
 flex-direction: column;
  margin-bottom: 2px;
  background-color: red;
}

/* Create By Grenndic */
